::ng-deep .p-rating-cancel {
    display: none !important;
}

::ng-deep .replay-slider .p-slider-handle {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

::ng-deep .replay-slider .p-slider-range {
    background-color: var(--primary-color) !important;
}

.form-container {
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .form-container {
        max-width: 100%;
        padding: 0 0.5rem;
    }
}
