<div class="flex flex-col gap-6">
        <div class="card">
        <h2 class="text-2xl font-bold mb-4">Profile Settings</h2>
        <p class="mb-4">Manage your profile settings and preferences here.</p>
        <div class="flex flex-col gap-6">
            <div>
                <span class="text-sm text-muted-color font-semibold">Features</span>
                <div class="pt-2 flex items-center justify-between border border-surface-200 dark:border-surface-700 rounded-lg p-3">
                    <div class="flex flex-col gap-1">
                        <span class="font-medium">Track Playtime</span>
                        <span class="text-xs text-muted-color">Enable playtime tracking for your games</span>
                    </div>
                    <p-toggleswitch [(ngModel)]="playtimeEnabled" (onChange)="togglePlaytime($event)"></p-toggleswitch>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <h3 class="text-xl font-semibold mb-4">Theme Configuration</h3>
        <p class="text-muted-color mb-4">Customize the appearance of the application by selecting your preferred colors and theme.</p>
        <app-profile-configurator />
    </div>
</div>
