:root {
    --primary-color: var(--gg-primary-color);
    --primary-contrast-color: var(--gg-primary-contrast-color);
    --text-color: var(--gg-text-color);
    --text-color-secondary: var(--gg-text-muted-color);
    --surface-border: var(--gg-content-border-color);
    --surface-card: var(--gg-content-background);
    --surface-hover: var(--gg-content-hover-background);
    --surface-overlay: var(--gg-overlay-popover-background);
    --transition-duration: var(--gg-transition-duration);
    --maskbg: var(--gg-mask-background);
    --content-border-radius: var(--gg-content-border-radius);
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--gg-transition-duration);
    --focus-ring-width: var(--gg-focus-ring-width);
    --focus-ring-style: var(--gg-focus-ring-style);
    --focus-ring-color: var(--gg-focus-ring-color);
    --focus-ring-offset: var(--gg-focus-ring-offset);
    --focus-ring-shadow: var(--gg-focus-ring-shadow);
}
