/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';

.layout-wrapper {
    overflow: hidden !important;
}

.layout-main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden !important;
}

.layout-main {
    flex: 1 1 auto;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}

.layout-main::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::ng-deep .p-button .pi-comments {
    font-size: 2rem !important;
}

.p-toolbar.override-toolbar-margin {
    margin-bottom: 2rem !important;
    background-color: red !important; // test only
}

:root {
    --progressbar-bg: var(--primary-color);
}

::ng-deep .p-progressbar .p-progressbar-value {
    background-color: var(--primary-color) !important;
}
